.App {
  text-align: center;
  height:100vh;
  width:100%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
footer{
  background-color: #ADD8E6;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
a{
  padding: 20px;
  text-decoration: none;
  color: white;
}
nav {
  display: table-cell;
  vertical-align: middle;
  background-color: black;
  height: 50px;
  width: 10%;
}
#notes{
  background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
  width: 600px;
  height: 300px;
  font: normal 14px verdana;
  line-height: 25px;
  padding: 2px 10px;
  border: solid 1px #ddd;
}
